.sectionC {
  padding-top: 100px;
}
.showcase {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.showcase-text {
  width: 500px;
  padding-top: 43px;
  padding-bottom: 43px;
}
.showcase-text h2 {
  font-family: var(--platypi);
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: left;
  color: var(--black);
  padding-bottom: 16px;
}
.showcase-text p {
  font-family: var(--inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--text-col);
  padding-bottom: 24px;
}
.register-2 {
  display: flex;
  align-items: center;
  padding: 10px 12px 10px 12px;
  gap: 4px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: var(--green);
  font-family: var(--inter);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--white);
  cursor: pointer;
}
.showcase-2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.schedule h1 {
  font-family: var(--platypi);
  color: var(--black);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 16px;
}
.plan {
  font-family: var(--inter);
  color: var(--text-col);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  padding-bottom: 48px;
}
.digital {
  display: none;
}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 502px;
  padding-bottom: 48px;
}
.btn1 {
  background: var(--orange);
  width: 166px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-family: var(--inter);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: left;
}
.off-conference {
  width: 166px;
  padding: 8px 20.5px;
  background-color: var(--off-white);
  font-family: var(--inter);
  color: var(--text-col);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;
}
.all {
  width: 166px;
  padding: 8px 20.5px;
  border-radius: 0px 8px 8px 0px;
  font-family: var(--inter);
  background-color: var(--off-white);
  font-family: var(--inter);
  color: var(--text-col);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;
}
.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 34px;
}
.event-2 {
  background: var(--border);
  padding: 16px;
  width: 504px;
  border-radius: 16px;
}
.event-4 {
  background: var(--border);
  padding: 16px;
  width: 504px;
  border-radius: 16px;
  margin-top: 25px;
}
.event-date {
  background: var(--white);
  border-left: 2px solid#7A8C6B;
  /* border-radius: 12px; */
  padding: 8px 16px;
}
.event-date h5 {
  font-family: var(--inter);
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: left;
  padding-bottom: 8px;
}

.event-date p {
  font-family: var(--inter);
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.conference-day h5 {
  padding-top: 32px;
  padding-bottom: 16px;
  font-family: var(--inter);
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: left;
}
.agenda-list p {
  font-family: var(--inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--text-col);
  padding-bottom: 12px;
}

@media (max-width: 1024px) {
  .showcase {
    gap: 20px;
  }
  .showcase-text {
    width: 400px;
  }
  .event-2 {
    width: 45%;
  }
  .event-4 {
    width: 45%;
  }
}

