.hero {
  background-image: url("../../assets/Lines-1.png");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}
.hero-section {
  margin: 0 auto;
  width: 713px;
}
.hero-section h1 {
  font-family: var(--platypi);
  color: var(--black);
  font-size: 60px;
  font-style: italic;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 32px;
}
span {
  font-family: var(--platypi);
  color: var(--black);
  font-size: 60px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: center;
  font-style: normal;
}
.hero-section p {
  font-family: var(--inter);
  color: var(--text-col);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  padding-bottom: 32px;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.register-2 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 4px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: var(--green);
  font-family: var(--inter);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--white);
  cursor: pointer;
}
.btn2 {
  display: flex;
  align-items: center;
  background: var(--white);
  font-family: var(--inter);
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  border: none;
}

.support h5 {
  font-family: var(--inter);
  color: var(--text-col);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3px;
  text-align: center;
  padding-bottom: 20px;
}
.sponsor-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56.25px;
}

.header-bottom-section {
  position: relative;
  margin-top: 100px;
}

.background-div {
  background-image: url("../../assets/Header-bg.png");
  height: 172px;
  background-repeat: no-repeat;
  background-position: center;
}
.countdown {
  background: var(--dark-black);
  width: 719px;
  border-radius: 16px;
  border: 1px;
  font-family: var(--inter);
  display: flex;
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.countdown-div {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 8px 16px;
}
.days {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}
.number {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--light-white);
}
.days-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: #b0c5d6;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.date-number {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: var(--light-white);
}
.date-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #b0c5d6;
}

@media (max-width: 1200px) {
  .countdown {
    left: 50%;
  }
}
@media (max-width: 768px) {
  .hero-section {
    margin: 0 auto;
    width: 80%;
  }

  .hero-section h1 {
    font-size: 50px;
    line-height: 54px;
  }
  span {
    font-size: 50px;
    line-height: 54px;
  }
  .hero-section p {
    font-size: 16px;
    line-height: 24px;
  }
  .background-div {
    height: 100px;
  }
}
@media (max-width: 425px) {
  .hero-section {
    margin: 0 20px;
    width: 335px;
  }
  .hero-section h1 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.5px;
    text-align: left;
    padding-bottom: 24px;
    width: 323px;
  }
  span {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.5px;
    text-align: left;
  }
  .hero-section p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-bottom: 24px;
  }
  .button {
    justify-content: flex-start;
    padding-bottom: 80px;
  }
  .support h5 {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    padding-bottom: 8px;
  }
  .sponsor-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .moving-img {
    width: 18%;
  }
  .moving-img2{
    width: 10%;
  }
  .background-div {
    height: 84px;
  }
  .countdown {
    left: 50%;
  }
  .countdown {
    flex-direction: column;
    width: 335px;
  }
  .number {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
  }
  .days-text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
  }
  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .date-number {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
  }
  .date-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .countdown {
    left: 50%;
  }
}

@media (max-width: 320px) {
  .hero-section {
    margin: 0 15px;
    width: 100%;
  }
  .hero-section h1 {
    font-size: 35px;
    line-height: 35px;
    width: 300px;
  }
  span {
    font-size: 35px;
    line-height: 35px;
  }
  .hero-section p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-bottom: 24px;
    width: 95%;
  }
  .sponsor-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .moving-img {
    width: 17%;
  }
  .moving-img2{
    width: 10%;
  }
  .countdown {
    left: 50%;
    width: 95%;
  }
}
