.hero {
  background-image: url("../../assets/Lines-1.png");
  background-position: center;
}
.hero-section {
  margin: 0 auto;
  width: 713px;
}
.hero-section h1 {
  font-family: var(--platypi);
  color: var(--black);
  font-size: 60px;
  font-style: italic;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 32px;
}
span {
  font-family: var(--platypi);
  color: var(--black);
  font-size: 60px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: center;
  font-style: normal;
}
.hero-section p {
  font-family: var(--inter);
  color: var(--textcol);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  padding-bottom: 32px;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.register-2 {
  display: flex;
  align-items: center;
  padding: 10px 12px 10px 12px;
  gap: 4px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: var(--green);
  font-family: var(--inter);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--white);
  cursor: pointer;
}
.btn2 {
  display: flex;
  align-items: center;
  background: var(--white);
  font-family: var(--inter);
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  border: none;
}

.support h5 {
  font-family: var(--inter);
  color: var(--textcol);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3px;
  text-align: center;
  padding-bottom: 20px;
}
.sponsor-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56.25px;
}

.header-bottom-section {
  position: relative;
}

.background-div {
  background-image: url("../../assets/Header-bg.png");
  height: 172px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
}
.countdown {
  background: var(--darkblack);
  width: 700px;
  border-radius: 16px;
  border: 1px;
  font-family: var(--inter);
  display: flex;
  position: absolute;
  top: -25px;
  left: 360px;
  right: 360px;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.countdown-div {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  align-items: center;
  padding: 8px 0px 8px 16px;
}
.days {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}
.number {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--lightwhite);
}
.days-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: #b0c5d6;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.date-number {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: var(--lightwhite);
}
.date-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #b0c5d6;
}

@media (max-width: 1024px) {
  .countdown {
    left: 150px;
    right: 150px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    width: 60%;
  }
  .hero-section h1 {
    line-height: 40px;
    font-size: 40px;
  }
  span {
    font-size: 40px;
    line-height: 40px;
  }
  .hero-section p {
    font-size: 14px;
  }
  .sponsor-img {
    gap: 25px;
  }
  .background-div {
    height: 130px;
  }
  .countdown {
    left: 120px;
    right: 120px;
    width: 570px;
    gap: 25px;
  }
  .countdown-div {
    padding: 8px 0px 8px 8px;
  }
  .days {
    padding: 0px 8px;
  }
  .number {
    font-size: 16px;
  }
  .date-text {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .hero-section {
    margin: 0 auto;
    width: 335px;
  }
  .hero-section h1 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.5px;
    text-align: left;
    width: 323px;
    padding-bottom: 24px;
  }
  span {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.5px;
    text-align: left;
  }
  .hero-section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    padding-bottom: 24px;
  }

  .button {
    justify-content: start;
  }

  .sponsor-img {
    position: relative;
    animation: move-left 15s linear infinite;
  }
  .moving-img {
    overflow-x: hidden;
    /* width: 100%; */
  }

  @keyframes move-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .background-div {
    height: 84px;
  }
  .countdown {
    flex-direction: column;
    align-items: center;
    width: 335px;
    left: 20px;
    right: 20px;
    top: -80px;
  }
  .number {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
  }

  .days-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
  }
  .date {
    flex-direction: column;
    align-items: center;
  }
}
