.footer-color {
  background-image: url("../../assets//Header-bg.png");
  background-repeat: no-repeat;
  height: 172px;
  margin-top: 100px;
  background-position: center;
  /* background-size: cover; */
}
.footer {
  background: var(--dark-black);
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-logo {
  display: grid;
  flex-direction: column;
  justify-items: center;
}
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 48px;
}
.footer-links li {
  font-family: var(--inter);
  color: var(--light-sub);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;

  list-style: none;
  cursor: pointer;
}
.footer-social-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
}
.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}
.footer-copyright p {
  font-family: var(--inter);
  color: var(--text-col);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
@media (max-width: 768px) {
.footer-color {
height: 70px;
}
}
@media (max-width: 425px) {
  .footer-color {
    height: 87px;
    margin-top: 80px;
  }
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-logo {
    display: grid;
    flex-direction: column;
    justify-items: center;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
}
.footer-social-div{
  flex-direction: column;
}
.footer-copyright p{
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.20000000298023224px;
text-align: left;
padding-top: 48px;
}
}

@media (max-width: 320px) {
  .footer-copyright p{
    text-align: center ;
  }
}