@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --platypi: "Platypi", serif;
  --inter: "Inter", sans-serif;
  --green:#178A2D;
  --lightgreen:#ACFAAC;
  --dark-black:#101611;
  --orange:#FA6C20;
  --off-white:#F7F8F8;
  --border:#F2F3F4;
  --white:#FFFFFF;
  --text-col:#627587;
  --black:#23323F;
  --light-white:#F2F9FF;
  --light-sub:#B0C5D6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding-left:160px;
  padding-right: 160px;
  max-width: 1440px;
  margin: 0 auto;
  /* overflow: hidden; */
}

@media (max-width:1024px){
  .container{
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 768px) {
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 425px) {
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 320px) {
  .container{
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
  }
}