.sectionA {
  background: var(--dark-black);
}
.section-A {
  padding-top: 100px;
  margin-bottom: 80px;
}
.sectionA h1 {
  font-family: var(--platypi);
  color: var(--light-white);
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: left;
  width: 354px;
  padding-bottom: 16px;
}
.section-Ap {
  font-family: var(--inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--light-sub);
  width: 505px;
  padding-bottom: 24px;
}
.sponsor {
  font-family: var(--inter);
  color: var(--black);
  background: var(--lightgreen);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  padding: 10px 12px 10px 12px;
  gap: 4px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.attendees {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attendees-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}
.attendees-number-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--inter);
  color: var(--light-white);
  gap: 16px;
  padding: 24px 40px;
}
.number-plus {
  font-size: 48px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: left;
}
.number-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  padding-top: 10px;
}
.attendees-number-sm {
  display: none;
}

@media (max-width: 1200px) {
  .section-A {
    margin-top: px;
  }

  .attendees img {
    width: 30%;
  }
  .attendees-number-div {
    gap: 16px;
    padding: 20px 25px;
  }
  .number-plus {
    font-size: 35px;
  }
}
@media(max-width:1280px){
  .attendees{
    width: 100%;
    gap: 8px;
  }
}
@media (max-width: 425px) {
  .section-A h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.5px;
    text-align: left;
    width: 218px;
  }
  .section-Ap {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    width: 320px;
  }
  .attendees {
    flex-direction: column;
    gap: 24px;
  }
  .attendees img {
    width: 100%;
  }
  .attendees-number {
    display: none;
  }
  .attendees-number-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-top: 48px;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 80px;
  }

  .attendees-number-div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-right: 30px;
    animation: moveTextSm 10s linear infinite;
  }
  @keyframes moveTextSm {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-150%);
    }
  }
  .number-plus1 {
    font-family: var(--inter);
    color: var(--light-white);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: left;
  }
  .number-text2 {
    font-family: var(--inter);
    color: var(--light-white);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
  }
}

@media (max-width: 320px) {
  .section-A{
    padding-top: 80px;
  }
  .section-Ap {
    width: 100%;
}
}